.container {
	margin: 5% 20%;
}

.introduction {
	width: 60%;
	color: #24408e;
	margin: 10px;
}

.intro-paragraphe-2 {
	margin-top: 8%;
	width: 60%;
	color: #24408e;
	margin-left: 10px;
}

.orange-text {
	color: #e37d00;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
}

.lists-container {
	display: flex;
	justify-content: space-around;
	height: 350px;
}

.soft-fr-list {
	width: 365px;
	height: 260px;
}

.soft-fr-list div {
	width: 365px;
	height: 260px;
	border: 1px solid #e37d00;
	border-radius: 10px;
	overflow-y: auto;
	scrollbar-color: #24408e #ffffff;
	scrollbar-width: thin;
	background-color: white;
}

h3 {
	color: #e37d00;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	text-align: center;
}

.soft-fr-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #24408e;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	margin: 10px;
	padding-right: 10px;
}

.project-title-div {
	text-align: center;
	overflow: hidden;
}

.project-title {
	color: #e37d00;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align: center;

	position: relative;
	display: inline-block;
	cursor: default;
}

.project-title::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% + var(--underline-extra-width, 0vw));
	height: 1px;
	background-color: currentColor;
	transition: width 0.3s ease;
}

.flex-up {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* height: 70%; */
	gap: 20px;
}

.flex-down {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* height: 30%; */
	gap: 20px;
}

.display-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 40%;
}

.display-right {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
}

.project-container {
	padding: 20px;
	margin: 20px 0;
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px; */
	background-color: #929dbb;
	border-radius: 10px;
}

.project-char-container {
	padding: 20px;
	margin: 20px 0;
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px; */
	background-color: #929dbb;
	border-radius: 10px;
	display: flex;
	gap: 20px;
}

.softw-container {
	/* grid-column: 1 / 3;
	grid-row: 1 / 2; */
	/* height: 40%; */
	width: 30%;
	background-color: #5e6e9b;
	border-radius: 10px;
	/* margin-bottom: 5%;
	margin-left: 5%; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 2% 0;
}

.softw-logo {
	height: 60px;
	/* width: 60px; */
	object-fit: cover;
	margin: 10px;
}

.softw-logo-small {
	height: 40px;
	object-fit: cover;
}

.screen-board {
	border-radius: 10px;
	width: 100%;
}

.screen-container {
	/* grid-column: 2 / 4;
	grid-row: 1 / 2; */
	/* flex-grow: 1; */
	width: 65%;
	display: flex;
	justify-content: flex-end;
}

.anim-container {
	/* grid-column: 1 / 3;
	grid-row: 2 / 2; */
	background-color: #393f5e;
	width: 65%;
	height: 300px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	bottom: 10%;
}

.char-card-container {
	height: 300px;
	border-radius: 20px;
}

.char-card {
	height: 100%;
	border-radius: 20px;
}

.prompt-card-container {
	/* grid-column: 2 / 3;
	grid-row: 2 / 2; */
	width: 100%;
	display: flex;
	justify-content: center;
}

.prompt-card {
	width: 500px;
	border-radius: 10px;
}

.booking-card-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.booking-card {
	width: 400px;
	border-radius: 10px;
}

.logo-container {
	/* margin-top: 2%;
	margin-right: 3%; */
	width: 37%;
}

.ai-logo {
	height: 130px;
	object-fit: contain;
	margin: 10px;
	border-radius: 10px;
}

.charact-rbnb-logo {
	height: 130px;
	object-fit: contain;
	margin-right: 10px;
	border-radius: 10px;
}

.lottie-wrapper {
	position: relative;
	display: inline-block;
	margin: 10px;
}

dotlottie-player {
	position: relative;
	z-index: 1;
}

.box-shadow-blue {
	box-shadow: 3px 3px 7px #1c326fd1;
}

@media (max-width: 2280px) {
	.anim-container {
		width: 80%;
	}
	.screen-container {
		width: 80%;
	}
	.ai-logos-container {
		width: 30%;
	}
	.ai-logo {
		margin-top: 10%;
	}
	.lottie-wrapper {
		margin: 0;
	}
}

@media (max-width: 1850px) {
	.anim-container {
		width: 100%;
	}
	.prompt-card {
		width: 100%;
	}
}
@media (max-width: 1550px) {
	.softw-container {
		width: 100%;
	}
	.screen-container {
		width: 100%;
	}
	.anim-container {
		margin: 2% auto 0 auto;
		height: 300px;
		width: 500px;
	}
	.prompt-card-container {
		width: 60%;
	}
	.ai-logo {
		margin: 0 auto 0 10%;
		height: 100px;
	}
	.lottie-wrapper {
		height: 80px;
		margin: 0;
	}
	.flex-up {
		flex-direction: column;
	}
	.flex-down {
		flex-wrap: wrap;
	}
}
